

  @media only screen and (min-width: 768px) {
    .header {
      align-items: center;
      background-color: #ffffff;
      display: inline-flex;
      justify-content: space-between;
      padding: 1em;
      position: relative;
      width: 80%;
      z-index: 150;
    }

    .main {
        display: flex;
        justify-content: space-between;
        /*margin: 0%;
        padding: 1em;*/
        position: relative;
        width: 80%;
        z-index: 150;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
    }
}